/*                                        
 #     #                                    
 #     # ######   ##   #####  ###### #####  
 #     # #       #  #  #    # #      #    # 
 ####### #####  #    # #    # #####  #    # 
 #     # #      ###### #    # #      #####  
 #     # #      #    # #    # #      #   #  
 #     # ###### #    # #####  ###### #    #    
*/
.navbar {
  background-color: #a8a5a8;
}
/*                                
 #######                                   
 #        ####   ####  ##### ###### #####  
 #       #    # #    #   #   #      #    # 
 #####   #    # #    #   #   #####  #    # 
 #       #    # #    #   #   #      #####  
 #       #    # #    #   #   #      #   #  
 #        ####   ####    #   ###### #    #    
*/
footer {
  background-color: #9b9b9b;
  display: flex;
}                             
/*                      
 #     #                 
 ##   ##   ##   # #    # 
 # # # #  #  #  # ##   # 
 #  #  # #    # # # #  # 
 #     # ###### # #  # # 
 #     # #    # # #   ## 
 #     # #    # # #    # 
*/
.carousel .carousel-item img {
  height: 350px;
  width: 100%;
}