<nav class="navbar navbar-expand-lg d-md-flex flex-ro justify-content-center">
  <div class="container-fluid col-lg-3 col-3 col-md-12 d-md-flex  justify-content-center">
    <a class="navbar-brand m-0" href="/index.html">
      <img
        src="/pics/logoCircle.png"
        alt="logo"
        width="100"
        height="100"
        class="img d-inline-block align-text-top rounded-circle"
      />
    </a>
  </div>
  <button
    class="navbar-dark navbar-toggler m-auto"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav col-lg-9 col-md-12 m-auto justify-content-end">
      <li class="nav-item p-lg-5">
        <a class="nav-link text-muted" href="/index.html" id="headerHome">Home</a>
      </li>
      <li class="nav-item p-lg-5">
        <a class="nav-link text-muted" href="/pages/shop/shop.html" id="headerShop">Shop</a>
      </li>
      <li class="nav-item p-lg-5">
        <a class="nav-link text-muted" href="/pages/product/product.html" id="headerProduct">product</a>
      </li>
      <li class="nav-item p-lg-5">
        <a class="nav-link text-muted" href="/pages/about/about.html" id="headerAboutUs">About Us</a>
      </li>
      <li class="nav-item p-lg-5">
        <a class="nav-link text-muted" href="/pages/contact/contact.html" id="headerContactUs">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
