<!-- Shopping Cart CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="/template/shoppingCart/shoppingCart.css"
/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- Shoping Cart JS business logic -->
<script src="/template/shoppingCart/shoppingCart.js"></script>

<!-- Shopping Cart Template -->
<div class="buttonWrapper" data-bs-toggle="modal" href="#exampleModal">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    fill="currentColor"
    class="bi bi-bag-heart"
    viewBox="0 0 16 16"
  >
    <path
      fill-rule="evenodd"
      d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"
    />
  </svg>
  <div class="numberOfItems">0</div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable to modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Shopping Cart</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Section for Items -->
        No Items... Please add items to your cart.
      </div>
      <!-- total price of items  -->
      <div class="modal-footer">
        <div class="totalItems">
          <h5>
            Quantity:
            <span id="totalItemsValue">0</span>
          </h5>
        </div>
        <div class="totalPrice">
          <h5>
            Total: $
            <span id="totalPrice">0.00</span>
          </h5>
        </div>
      </div>
      <!-- Continue to Checkout Button -->
      <div class="modal-footer">        
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          id="checkoutButton"
        >
          Continue to Checkout
        </button>
      </div>
    </div>
  </div>
</div>
