<footer class="row-12 py-2">
  <div
    class="d-sm-flex d-md-flex d-lg-flex col-12 text-center flex-sm-column flex-lg-row  justify-content-center align-items-center ">
    <a href="/index.html" 
    class="d-flex align-items-center justify-content-center link-dark text-decoration-none">
      <img
        src="/pics/logoCircle.png"
        alt="logo"
        max-width="100%"
        height="75"
        class="d-inline-block align-text-top rounded-circle"/>
      </a>
    <ul class="nav d-sm-flex d-md-flex d-md-flex d-flex flex-column flex-sm-column flex-lg-row  justify-content-center text-center">
      <li class="nav-item ">
        <a class="nav-link text-muted" href="/index.html" id="footerHome">Home</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-muted" href="/pages/shop/shop.html" id="footerShop">Shop</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-muted" href="/pages/product/product.html" id="footerProduct">product</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-muted" href="/pages/about/about.html" id="footerAboutUs">About Us</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-muted" href="/pages/contact/contact.html" id="footerContactUs">Contact Us</a>
      </li>
    </ul>
  </div>
  <div class="col-12 text-center">
    <p class="text-muted small m-0  ">
      &copy; 2023 <span> WYWM</span>
    </p>  
  </div>
</footer>
