<div>
  <footer
    class="d-flex text-center flex-wrap align-items-center py-3 my-4 border-top justify-content-center align-items-center ">
    <a
      href="index.html"
      class="col-sm-12 col-md-3 align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img
        src="/pics/logoCircle.png"
        alt="logo"
        max-width="100%"
        height="75"
        class="d-inline-block align-text-top rounded-circle"/>
      </a>
    <ul class="nav col-sm-12 col-md-6 justify-content-around text-center fs-0 fs-md-5 mb-3 mb-md-0">
      <li class="nav-item p-0 p-lg-5">
        <a class="nav-link text-muted" href="/index.html" id="footerHome">Home</a>
      </li>
      <li class="nav-item p-0 p-lg-5">
        <a class="nav-link text-muted" href="/shop.html" id="footerShop">Shop</a>
      </li>
      <li class="nav-item p-0 p-lg-5">
        <a class="nav-link text-muted" href="/pages/about/about.html" id="footerAboutUs">About Us</a>
      </li>
      <li class="nav-item p-0 p-lg-5">
        <a class="nav-link text-muted" href="/pages/contact/contact.html" id="footerContactUs">Contact Us</a>
      </li>
    </ul>
    <p class="col-sm-12 col-md-3 mb-0 text-muted small">
      &copy; 2023 <span> WYWM</span>
    </p>
  </footer>
</div>
